<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">

  <!-- unless = contrario do if -->
  <% unless params[:term] %>
    <h4>Últimas perguntas cadastradas...</h4>
  <% else %>
    <!-- <h4>Ultimo termo pesquisado: "<%= params[:term] %>"</h4> -->
    <h4><%= "Último termo pesquisado: \"#{params[:term]}\"" %></h4>
  <% end %>

  <!-- <h1>Site::Welcome#index</h1> -->
  <!-- <p>Find me in app/views/site/welcome/index.html.erb</p> -->

  <!-- <% if user_signed_in? %>
    <h2>Usuário Logado!</h2>
    <blockquote>
      <p><strong>current_user</strong> = <%= current_user %></p>
      <p><strong>inspect</strong> = <%= current_user.inspect %></p>
      <p><strong>id</strong> = <%= current_user.id %></p>
      <p><strong>email</strong> = <%= current_user.email %></p>
    </blockquote>
  <% else %>
    <h2>Usuário NÃO está logado!</h2>
  <% end %>

  <% if admin_signed_in? %>
    <h2>Administrador Logado!</h2>
    <blockquote>
      <p><strong>current_admin</strong> = <%= current_admin %></p>
      <p><strong>inspect</strong> = <%= current_admin.inspect %></p>
      <p><strong>id</strong> = <%= current_admin.id %></p>
      <p><strong>email</strong> = <%= current_admin.email %></p>
    </blockquote>
  <% else %>
    <h2>Administrador NÃO está logado!</h2>
  <% end %> -->

  <h4><%= link_to 'site/welcome/index', site_welcome_index_path %></h4>
  <h4><%= link_to '/admins_backoffice/welcome/index.html', admins_backoffice_welcome_index_path %></h4>
  <h4><%= link_to '/users_backoffice/welcome/index.html', users_backoffice_welcome_index_path %></h4>
  <h4><%= link_to 'http://localhost:3000/rails/info/routes', 'http://localhost:3000/rails/info/routes' %></h4>
  <h4><%= link_to 'http://localhost:3000/template/startbootstrap-sb-admin-2/pages/index.html', 'http://localhost:3000/template/startbootstrap-sb-admin-2/pages/index.html' %></h4>
  <h4><%= link_to 'http://localhost:3000/template/gentelella/production/index.html', 'http://localhost:3000/template/gentelella/production/index.html' %></h4>
  <h4><%= link_to 'http://localhost:3000/rails/db/', 'http://localhost:3000/rails/db/' %></h4>

  <!-- <h1>Navbar example</h1>
  <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p> -->
</div>


<% @questions.each do |question| %>

  <!-- <%#= form_with url: site_answer_path, local: true  do |form| %> -->
  <%= form_with url: site_answer_path  do |form| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= question.description %></h3>
      </div>
      <div class="panel-body">
        <ul>
          <% question.answers.each do |answer| %>
              <li style="list-style:none">
                <!-- o id vai ser answer_1. a concatenação de "answer_answer.id" -->
                <div class="radio">
                  <label>
                    <!-- <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> -->
                    <%= radio_button_tag 'answer_id', answer.id %>

                    <!-- Option one is this and that&mdash;be sure to include why it's great -->
                    <%= answer.description %>
                  </label>
                </div>
              </li>
          <% end %>
          <li style="list-style:none">
            <%= form.submit "Responder", class: "btn btn-default", id:"submit_#{question.id}" %>
          </li>
        </ul>
      </div>
    </div>

  <% end %>
<% end %>
<p><%#= @answer %></p>

<div class="text-center">
    <%= paginate @questions %>
</div>
