<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

          <%= f.hidden_field :reset_password_token %>

          <h1>Altere sua senha</h1>

          <div class="field">
            <%#= f.label :password, "Nova Senha" %><br/>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>
                characters minimum)</em><br/>
            <% end %>
            <%= f.password_field :password, autofocus: true, placeholder: "Nova Senha", class:"form-control" %>
          </div>

          <div class="field">
            <%#= f.label :password_confirmation, "Confirmação da Senha" %><br/>
            <%= f.password_field :password_confirmation, placeholder: "Confirmação da Senha", class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Alterar Senha", class:"btn btn-default submit", style: "float: none; margin-left: 0px; width: 70%;" %>
          </div>

          <div class="separator"></div>

        <% end %>
      </section>
    </div>
  </div>
</div>
