<!-- <h1>Editando</h1> -->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Editando</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- <%= @admin.inspect %> -->

<% if @admin.errors.any?  %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <% @admin.errors.full_messages.each do |mensagem| %>
        <ul>
            <li><%= mensagem %></li>
        </ul>
    <% end %>
</div>
<% end %>

<div class="panel panel-default">

    <div class="panel-heading">
        Editando Administrador
    </div>

    <div class="panel-body">
        <div class="row">

            <div class="col-lg-6">
                <%= form_with(model: [:admins_backoffice, @admin ], local: true ) do |form| %>

                    <div class="form-group">
                        <!-- <label>Email</label> -->
                        <%= form.label :email %>

                        <!-- <input class="form-control" placeholder="Enter text"> -->
                        <%= form.text_field :email, class:"form-control", placeholder:"Informe o email" %>
                    </div>

                    <div class="form-group">
                        <%= form.label :password %>
                        <%= form.password_field :password, class:"form-control", placeholder:"Informe a senha" %>
                    </div>

                    <div class="form-group">
                        <%= form.label :password_confirmation %>
                        <%= form.password_field :password_confirmation, class:"form-control", placeholder:"Confirme a senha" %>
                    </div>

                    <button type="submit" class="btn btn-default">Salvar</button>
                    <!-- <button type="reset" class="btn btn-default">Reset Button</button> -->

                <% end %>
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
